@import "_functions";
.page-template-helper, .category {
  background: url('../img/helper/helper-main-bg.jpg') no-repeat fixed;
  -webkit-background-size: 100%;
  background-size: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0 0 100px;

  // HEADER

  nav.helper-nav {
    background: rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
    box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
    width: 100%;
    margin-bottom: 50px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 0;
      text-align: right;
      li {
        display: inline-block;
        margin: 0 20px;
        a {
          @include font(helper-main);
          color: #fff;
          font-size: 18px;
          @include textShadow();
          @include transition(.3s);
          &:hover {
            @include transition(.3s);
            color: #2b9e8d;
          }
        }
      }
    }
  }
  .helper-heading-effect {
    height: 60px;
    text-align: center;
    margin-bottom: 40px;
    h1 {
      @include font(helper-head);
      color: #ffffff;
      font-size: 45px;
      margin: 0;
      padding: 7px 0 0;
      width: 100%;
      &.zoom {
        animation-name: zoom;
        animation-duration: 1s;
      }
    }
    span {
      @include font(helper-head);
      color: #ffffff;
      font-size: 45px;
      margin: 0;
    }
  }

  // HELPER MAIN

  .helper-main-content {
    .helper-main-col {
      background: rgba(0, 0, 0, 0.33);
      -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
      box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
      height: 1000px;
    }
    .helper-aside-col {
      height: 300px;
      position: fixed;
      right: 50px;
      ul {
        list-style-type: none;
        &.cd-accordion-menu {
          width: 100%;
          background: rgba(0, 0, 0, 0.33);
          -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
          -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
          box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
          margin: 0;
          padding-left: 0;
          li {
            a {
              width: 100%;
              background: rgba(0, 0, 0, 0.33);
              -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
              -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
              box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
            }
          }
          label {
            margin-bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.33);
            -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
            -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
            box-shadow: 0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09);
          }
        }
      }
    }
  }
}